*{
    margin: 0;
    padding: 0;

}

#heading header{
    background-color: rgb(151, 151, 215);
       text-align: center;
       font-size: 2em;
}

#heading span{
    color: azure;
}

#container{
    height: 400px;
    width: 60%;
    margin: 10px auto;
    background-color: azure;
    border: 2px solid rgb(209, 206, 206);
    border-radius: 15px;
    box-shadow: 2px 4px 8px rgb(209, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
   
}

#board{
    height: 80%;
    width: 40%;
    background-color: rgb(209, 133, 162);
    border: 2px solid rgb(241, 105, 157);
    border-radius: 20px;
    box-shadow: 4px 2px 10px rgb(220, 125, 162);
    display: flex;
    justify-content: center;
    align-items: center;
}

#board #board3x3{
    width: 95%;
    height: 95%;
    border: 1px solid white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3,2fr);
   box-shadow:4px 2px 10px rgb(233, 231, 231) ;


}

#board #board3x3 button{
    border-radius: 18px;
    margin: 2px;
    box-shadow: 2px 4px 12px rgb(222, 176, 193);
    
   background-color: rgb(228, 245, 245);
   
        
}

#board #board3x3 button:active{
                transform: scale(0.9);
                background-color: rgb(167, 215, 234);
}


#display{
    width: 40%;
    height: 25%;
    border: 2px solid rgb(49, 49, 112);
    background-color: rgb(112, 112, 238);
    border-radius: 30px;
      box-shadow: 2px 4px 12px  rgb(61, 61, 167);
      display: flex;
      justify-content: center;
      align-items: center;

}

#display #setup {
    height: 50%;
    width: 60% ;
    border: 0.8px solid rgb(10, 10, 111);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 12px  rgb(10, 10, 111) ;
}



#display #setup #viewer{
    font-size: 1.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#control{
    height: 70px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    background-color: rgb(219, 111, 97);
    border: 2px solid rgb(131, 12, 12);
    border-radius: 15px;
      box-shadow: 2px 4px 12px  rgb(235, 101, 30) ;
}



#control #buttonBox{
    height: 60%;
    width: 80%;
      border: 2px solid rgb(235, 48, 48);
         box-shadow: 2px 4px 12px  rgb(235, 101, 30) ;
         border-radius: 25px;
         display: flex;
         justify-content: center;
         align-items: center;

}

#control #buttonBox button{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    font-size: 1.4em;
    background-color: rgb(246, 155, 155);
    transition: 0.8ms;
}

#control #buttonBox button:active{
    transform: scale(0.9);
}




